/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
 }

 .header {
  display: flex;
  justify-content: flex-end;
  background-color: grey;
 }

 .header > a {
  margin: 20px;
  color: white;
  text-decoration: none;
 }

 .form-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }

 form input {
  padding: 10px;
 }

 .form-parent h2 {
  margin-bottom: 20px;
 }

 .logout > input {
  border: 0;
  background-color: grey;
  cursor: pointer;
  color: white;
  padding: 0;
  margin: 20px;
  font-size: 16px;
 }

 .form-submit {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
 }

 .form-submit:hover {
  border: 1px dashed black;
 }

 .welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }

 .form-parent > form input[type="submit"] {
  margin-top: 20px;
 }

 .bands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }