<div class="form-parent">
    <h2>Sign In!</h2>
    <form action="<%= session_url %>" method="post">
        <%= auth_token %>
        <input type="email" name="user[email]" placeholder="Email">
        <br><br>
        <input type="password" name="user[password]" placeholder="Password">
        <br><br>
        <center><input type="submit" value="Login" class="form-submit"></center>
    </form>
</div>